<!-- home.html -->
<div class="jumbotron text-center">
	<h2>Welcome to Customer Manager.</h2>
	<br>
	<div class="container">
		<button class="btn btn-primary" ng-click="showCustomerInfo()">Customer Management</button>
		<button class="btn btn-primary" ng-click="showOrderInfo()">Order Management</button>
	</div>
	<br>
	<div class="container">
		<button class="btn btn-secondary" ng-click="showCompanyInfo()">Company Management</button>
		<button class="btn btn-secondary" ng-click="showProductInfo()">Product Management</button>
	</div>

</div>